
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Triple one</h1>
    <br><br>
    <h5>We have looked into your case and advise you to <%= @update_case.decision %>.</h5>
    <h5>This decision has been made by <%= @update_case.doctor.username %>.
    <br><br>
    <br><br>
    <span>Please do not reply to this email address, as all emails are automated and this inbox will not be checked.</span>
    <span>This email has been sent on behalf of Triple One, though the views and advise received are solely attributred to the NHS user of this app.</span>
    <span>Registered Address: 16 Astwood Mews, Kensington, SW7 4DE</span>
  </body>
</html>