
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for using Triple one</h1>
    <br><br>
    <h5>We have looked into your case and advise you to <%= @update_case.decision %>.</h5>
    <br><br>
    <span>Please do not reply to this email address, as all emails are automated and this inbox will not be checked.</span>
    <span>This email has been sent on behalf of Triple One, 
  </body>
</html>